body {
background-color: #F8F9FA;
}

div {
	color: #008080;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: black;
	background-position: 100% 100%;
	color: 0;
	margin-bottom: 0px;
	margin-top: 10px;
}

.jumbotron {
	background-color: black;
	color: #F8F9FA;
	margin-top: 90px;
}

.link {
	color: #F8F9FA;
}

.card-musico {
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
}

.card-body {
	padding: 2px 2px 2px 2px;
}

.btn-nombre {
	width: 100%;
}

.footer-address-icon {
padding-right: 10px;
}

.navbar {
	padding: 0px 10px 10px 10px;
}